# dependencies
bower_components/
node_modules/

# package manager files
npm-debug.log*
shrinkwrap.yaml
yarn-error.log
yarn.lock

# development
.eslintcache
*.map
tsconfig.tsbuildinfo

# Yeoman
.yo-rc.json
